examples
docs

# compiled output
packages/**/dist/
packages/**/lib/

# misc
packages/**/coverage/

# Jest
jest.config.base.js
**/jest.config.js
packages/bitski/scripts/version.js

typedoc.js

packages/bitski/tests/bitski.test.test
packages/bitski/src/index.ts 
packages/bitski/src/provider-shim.ts

packages/eth-provider-types/index.d.ts 
packages/eth-provider-types/index.js